/* This is the style sheet for my website. The style is more clean and minimalistic, because
I want the images to take focus/priority.*/

/************************* Global *****************************/

:root {
  --color-bg: #ffffff;
  --color-text-main: #000000;
  --color-primary: #ffff00;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: "Futura";
  --font-family-header: "Futura";
}

/* Importing fonts */

@font-face {
  font-family: Futura;
  src: url(https://cdn.glitch.global/66b55adb-3b95-4164-94d0-ff56a9e5ede2/Futura%20Book%20font.ttf?v=1687484316525)
    format("truetype");
}

@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

p {
  font-family: "Futura";
}

h1 {
  font-family: "Futura";
}



/************************ Navigation bar *************************/

ul {
  font-family: "Futura";
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #f3f3f3;
}

/*******************************************************************/

/* Logo */
#logo {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  display: block;
}

/* This is the CSS for the image slider in the home page */
.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
/* Prev and next buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* The next button positioning  */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add white background color that is less opacity */
.prev:hover,
.next:hover {
  background-color: rgba(255, 255, 255, 0.45);
}

/* Dot indicators for which image */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #999999;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #111111;
}

/* Animation for fade */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
